{
  "presets": [
    ["@babel/preset-env", {
      "targets": { "browsers": ["ie >= 10"] },
      "modules": false,
      "debug": false,
      "useBuiltIns": "usage",
      "corejs": 2
    }],
    "@babel/preset-react"
  ],
  "plugins": [
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": true
    }],
    ["@babel/plugin-proposal-class-properties"]
  ]
}
