.detailpage-breadcrumb-container {
  margin-bottom: 16px;
  min-height: 28px;
}

.detailpage-header-container {
  margin-bottom: 16px;
  height: 32px;
}

.detailpage-footer-button-container {
}

.fe-detailpage {
  width: 100%;

  div.ant-table-body {
    max-height: 400px;
    overflow-y: auto;
  }
}