@import '../colors';
.table-column-right {
  text-align: right;
}

.table-column-left {
  text-align: left;
}

.ant-table-title {
  padding: 16px;
  border-bottom: 1px solid #e9e9e9;
  top: 0;
}

.ant-table-body {
  overflow-x: auto!important;
}

.fe-table .ant-table-tbody {
  // form表格内的icon不增加margin
  .ant-form-item-control {
    .anticon {
      margin: 0!important;
    }
  }
  .anticon {
    margin: 10px 4px;
  }
  .anticon-edit {
    color: #e6a23c;
  }
  .anticon-stop {
    color: red;
  }
  .anticon-profile {
    color: #2587e4;
  }
  .anticon-delete {
    color: red;
  }
  .anticon-to-top {
    color: $primary-color;
  }
  .anticon-undo {
    color: $primary-1;
  }
  .anticon-search {
    color: #67c23a;
  }
}

.xg .fe-table .ant-upload.ant-upload-select {
  overflow: initial;
  cursor: pointer;
}

.fe-table-container:hover .indicator-maximize-container {
  opacity: 1;
  transition: .3s;
}

.fe-table-container .indicator-maximize-container {
  opacity: 0;
  transition: .3s;
}

.table-export-icon {
  position: absolute;
  z-index: 11;
  right: 24px;
  top: 0;
  opacity: 0;
  transition: .3s;
  color: rgba(0,0,0,.45);
}

.fe-table-container:hover .table-export-icon {
  opacity: 1;
}

.fe-table {
  .action-column {
    a + a {
      border-left: 1px solid #ddd;
    }
    a {
      padding-left: 8px;
      padding-right: 8px;
    }
  }
}
