.listpage-selected-num {
  color: $primary-color;
  margin: 0 2px;
  font-weight: bold;
}

.listpage-selected-wrapper {
  margin-right: 4px;
}

.fe-listpage {
  padding: 16px;
  flex: auto;
  overflow-x: auto;
  .listpage-title-container {
    margin-bottom: 16px;
    min-height: 28px;
  }
  .listpage-table-container {
    width: 100%;
    flex: auto;
  }
  .ant-table-thead>tr>th {
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: 0 1px 0 0 #e8e8e8, 0 1px 0 0 #e8e8e8 inset;
  }
  .ant-select {
    width: 100%;
  }
}

.ant-modal-body {
  .fe-listpage {
    padding: 0;
  }
}

@media screen and (max-width: 768px) {
  .listpage-main-container {
    flex-direction: column;
  }
}
